<%= button_to 'New Media Type', new_media_type_path, {:method => 'get', :class => "new-button"} %>

<h1>Media Types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @media_types.each do |media_type| %>
  <tr>
    <td><%= media_type.name %></td>
    <td><%= link_to 'Show', media_type %></td>
    <td><%= link_to 'Edit', edit_media_type_path(media_type) %></td>
    <td><%= link_to 'Destroy', media_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

