<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <div style="width: 360px; margin: 0 auto;">
    <%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true, :style => 'width: 100%;' %>
  </div>
  <div style="width: 360px; margin: 2em auto 0;">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

  <div style="width: 360px; margin: 2em auto 0;">
    <%= render "devise/shared/links" %>
  </div>