<%#= form_for(@pdf_file) do |f| %>
<%= form_for @pdf_file, :html => {:multipart => true} do |f| %>
  <% if @pdf_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pdf_file.errors.count, "error") %> prohibited this pdf_file from being saved:</h2>

      <ul>
      <% @pdf_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :filename %><br />
    <%= f.file_field :filename %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
