<h1>Listing pdf_files</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Filename</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pdf_files.each do |pdf_file| %>
  <tr>
    <td><%= pdf_file.title %></td>
    <td><%= pdf_file.filename %></td>
    <td><%= link_to 'Show', pdf_file %></td>
    <td><%= link_to 'Edit', edit_pdf_file_path(pdf_file) %></td>
    <td><%= link_to 'Destroy', pdf_file, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pdf file', new_pdf_file_path %>
