<%= button_to 'New PDF File', new_pdf_file_path, {:method => 'get', :class => "new-button"} %>

<h1>Listing PDF Files</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Filename</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pdf_files.each do |pdf_file| %>
  <tr>
    <td><%= pdf_file.title %></td>
    <td><%= pdf_file.filename %></td>
    <td><%= link_to 'Show', pdf_file %></td>
    <td><%= link_to 'Edit', edit_pdf_file_path(pdf_file) %></td>
    <td><%= link_to 'Destroy', pdf_file, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
