<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @pdf_file.title %>
</p>

<p>
  <b>Filename:</b>
  <%= @pdf_file.filename %>
</p>


<%= link_to 'Edit', edit_pdf_file_path(@pdf_file) %> |
<%= link_to 'Back', pdf_files_path %>
