<% current_event_type = "" %>
<% initial_date = "" %>

<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "SuperUser" or role.name == "Admin" } %>
  <%= button_to 'New Event', new_event_path, {:method => 'get', :class => "crud-nav"} %>
  <% end %>
<% end %>

<h1>Calendar:</h1>

<% if !@events.blank? %>
<% @events.each do |event| %>
  <% if initial_date == "" %>
<div class="month-subheader">
   <strong><%= event.start.strftime("%B - %Y") %></strong>
</div>
  <% elsif event.start.strftime("%B - %Y") != initial_date %>
<div class="month-subheader">
   <strong><%= event.start.strftime("%B - %Y") %></strong>
</div>
  <% end %>
<div class="calendar_row">
  <div class="row">
    <div class="col-sm-4">
      <% if event.start.strftime("%b %-d" ) == event.end.strftime("%b %-d") %>
      <div class='date-range'>
      <div class="calendar-ii">
        <div class="calendar_month-ii"><%= event.start.strftime("%b") %></div>
        <div class="calendar_date-ii"><%= event.start.strftime("%-d") %></div>
      </div>
      </div>
      <% else %>
      <div class='date-range'>
      <div class="calendar-ii">
        <div class="calendar_month-ii"><%= event.start.strftime("%b") %></div>
        <div class="calendar_date-ii"><%= event.start.strftime("%-d") %></div>
      </div>
      
      <div class="calendar-ii">
        <div class="calendar_month-ii"><%= event.end.strftime("%b") %></div>
        <div class="calendar_date-ii"><%= event.end.strftime("%-d") %></div>
      </div>
      </div>
      <% end %>
      <div class="location"><%= event.location.city + ", " + event.location.state %></div>
    </div>
    <div class="col-sm-8"">
    <strong><em><%= link_to event.title, event %></em></strong>
    <% if event.event_status_id == 2 %>
      <span class="event-flag" style="display: inline;"> &lt;= Tentative</span>
    <% elsif event.event_status_id == 3 %>
      <span class="event-flag" style="display: inline;"> &lt;= Canceled</span>
    <% end %>
    <br />
      <% if event.details.length > 220 %>
        <%= truncate(event.details, :length => 220, :separator => ' ') %> <em><%= link_to "Go to event", event %></em>
      <% else %>
        <%= event.details %>
      <% end %>

  </div>
  </div>
</div>
<% current_event_type = event.event_type.title %>
<% initial_date = event.start.strftime("%B - %Y").to_s %>

<% end %>

<% else %>
   <div class="calendar_row" style="width: 90%; padding-top: 0.25em">
     <div class="cell" style="width: 25%;">&nbsp;</div>
       No scheduled events at this time.
   </div>
<% end %>
