<p id="notice"><%= notice %></p>

<article class="container-fluid">
<h1>
  <%= @page.title %>
</H1>

<p>
  <%=  markdown @page.body %>
</p>
</article>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
