<%= button_to 'New Right', new_right_path, {:method => 'get', :class => "new-button"} %>

<h1>Model/Resource Rights</h1>

<p>Rights are operations on models (or resources). Rights can be <%= link_to 'granted', grants_path %> to <%= link_to 'Roles', roles_path %>.</p>

<table>
  <tr>
    <th>Resource</th>
    <th>Operation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rights.each do |right| %>
  <tr>
    <td><%= right.resource %></td>
    <td><%= right.operation %></td>
    <td><%= link_to 'Show', right %></td>
    <td><%= link_to 'Edit', edit_right_path(right) %></td>
    <td><%= link_to 'Destroy', right, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


