<%= button_to 'New Event Status', new_event_status_path, {:method => 'get', :class => "crud-nav"} %>

<h1>Event Statuses</h1>

<table>
  <tr>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_statuses.each do |event_status| %>
  <tr>
    <td><%= event_status.status %></td>
    <td><%= link_to 'Show', event_status %></td>
    <td><%= link_to 'Edit', edit_event_status_path(event_status) %></td>
    <td><%= link_to 'Destroy', event_status, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

