<!DOCTYPE html>
<html>
<head>
  <title>Marshalling Detachment</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<body>

<nav>
  <%= render 'layouts/nav' %>
</nav>

  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <article class="container-fluid">
    <%= yield %>
  </article>

  <footer class="footer">
    <%= render 'layouts/footer' %>
  </footer>

</body>
</html>