<!DOCTYPE html>
<html>
<head>
  <title>Marshalling Detachment</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="login-bar">
      <% if signed_in? %>
        Welcome: <%= current_user.member.first_name + ' ' + current_user.member.last_name %> | 
        <%= link_to current_user.email, member_path(current_user.member) %> | 
        Last login: <%= current_user.last_sign_in_at.strftime('%H:%M on %m/%d/%y') %> | 
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to 'Login', login_path %>
      <% end %>
    </div>
    <%= render 'layouts/nav' %>
  </nav>

  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <article class="container-fluid">
    <%= yield %>
  </article>

  <footer class="footer">
    <%= render 'layouts/footer' %>
  </footer>

</body>
</html>