<!DOCTYPE html>
<html>
<head>
  <title>Marshalling Detachment</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<body>
<div class="container-fluid">


  <%= render 'layouts/nav' %>


  <header>
<div class="row">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>
			<div class="carousel-inner" role="listbox">
				<div class="item carousel-image-one active">
				&nbsp;
				</div>
				<div class="item carousel-image-two">
				&nbsp;
				</div>
				<div class="item carousel-image-three">
				&nbsp;
				</div>
				<div class="item carousel-image-four">
				&nbsp;
				</div>
				<div class="item carousel-image-five">
				&nbsp;
				</div>
			</div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
  </header>
</div>


	<article class="container-fluid">
		<% if notice %>
			<p class="notice"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="alert"><%= alert %></p>
		<% end %>
		<%= yield %>
	</article>

	<footer class="footer">
		<%= render 'layouts/footer' %>
	</footer>
</div>
<script>
$(function(){
  $('#myCarousel').carousel();
});
</script>

</body>
</html>