<!DOCTYPE html>
<html>
<head>
  <title>Marshalling Detachment</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<body>
<div class="container-fluid">
	<nav class="navbar navbar-default navbar-fixed-top">
		<%= render 'layouts/nav' %>
	</nav>
  <header>
		<div class="container-fluid">
			<div id="myCarousel" class="carousel slide" data-interval="false">
			<!-- Indicators -->
			</div>
			<div class="carousel-inner" role="listbox">
				<div class="item carousel-image-one active">
				&nbsp;
				</div>
			</div>
  </header>



	<article class="container-fluid">
		<% if notice %>
			<p class="notice"><%= notice %></p>
		<% end %>
		<p class="alert"><%= alert %></p>
		<%= yield %>
	</article>

	<footer class="footer">
		<%= render 'layouts/footer' %>
	</footer>
</div>
<script>
$(function(){
  $('#myCarousel').carousel();
});
</script>

</body>
</html>