<%= render "scripts" %>

<h1>Members</h1>


<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "Member" } %>

<h2>Documents</h2>
<ul>
<% @pdf_files.each do |pdf_file| %>
  <li><%= link_to pdf_file.title, pdf_file.filename.to_s %></li>
<% end %>
</ul>

  <% end %>
<% else %>
<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%=  markdown @page.body %>

<%= render 'application_form' %>
 <% end %>
<% end %>