<%= render "scripts" %>

<%= button_to 'New Member', new_member_path, {:method => 'get', :class => "crud-nav"} %>

<h1>Members</h1>

<h1>Members List - [<%= @members.size %>]</h1> 

<table class="table_border">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Email</th>
  </tr>

<% @members.each do |member| %>
  <tr class="<%= cycle('odd_row', 'even_row') %>">
    <td><%= link_to member.last_name+", "+member.first_name, edit_member_path(member) %></td>
    <% if member.city? %>
      <td><%= member.city+", "+member.state %></td>
    <% else %>
      <td>---</td>    
    <% end %>
    <td><%= member.user.email %></td>
  </tr>
<% end %>
</table>
